.my-name {
    display: flex;
    justify-content: space-around;
    background-color: green;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    height: 8%;
    padding:  10px;
}
.main-image{
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    transition: all 1s;
}
.main-image:hover{
    transform: scale(.8) rotate(15deg)
}    
.main{
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.favgames{
    padding: 10px;
    background-color: red;
    font-size: 50px;
}
.simgear{
    padding: 10px;
    background-color: red;
    font-size: 50px;
}
.bottom{
   position: fixed;
   left: 0; 
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
}