.my-name {
    background-color: green;
    margin: auto;
    text-align: center;
    border-style: double;
    width: 12%;
    height: 5%;
    padding:  10px;
}
.main-image{
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    transition: all 1s;
}
.main-image:hover{
    transform: scale(.8) rotate(15deg)

}    
.favgames{
    padding: 10px;
    background-color: red;
    display: inline;
    float: right;
    font-size: 50px;
}
.simgear{
    padding: 10px;
    border: 8px solid red;
    display: inline;
    float: left;
    font-size: 50px;
}
.bottom{
    position: fixed;
    bottom: 0;
}
.footer-left{
    display: inline;
    float: left;
}
.footer-center{
    display: inline;
    float: center;
}
.footer-right{
    display: inline;
    float: right;
}